@model IEnumerable<Task_01.Models.Item>

@{
    ViewData["Title"] = "Index";
}


<div id="CreateForm"></div>


<div id="EditForm"></div>


<div class="d-flex justify-content-end my-3">
    <a class="btn btn-export">Export</a>
</div>


<table class="table table-striped table-bordered text-center align-middle">
    <thead class="table-success">
        <tr>
            <th>
                SL#
            </th>
            <th>
                @Html.DisplayNameFor(x => x.ItemName)
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Status)
            </th>
            <th class="text-start">
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
        {
            <tr>
                @* <td>@item.Data.ItemId</td> *@
                <td>@item.Index</td>
                <td>@Html.DisplayFor(x => item.Data.ItemName)</td>
                <td>@Html.DisplayFor(x => item.Data.Category.CategoryName)</td>
                <td>@(item.Data.Status == true ? "Active" : "Inactive")</td>
                <td class="text-start" style="width:345px;">
                    <a class="btn btn-warning me-1" onclick="UpdateData(@item.Data.ItemId)">Edit</a>
                    <form asp-controller="Items" asp-action="Delete" asp-route-id="@item.Data.ItemId" method="post" class="d-inline">
                        <span id="deleteSpan_@item.Data.ItemId">
                            <a class=" btn btn-danger" onclick="confirmDelete('@item.Data.ItemId', true)">Delete</a>
                        </span>
                        <span id="confirmDeleteSpan_@item.Data.ItemId" style="display:none">
                            <span>Are you sure you want to delete this?</span><br />
                            <button type="submit" class="btn btn-danger" style="margin-left:120px;">Yes</button>
                            <a class="btn btn-primary" onclick="confirmDelete('@item.Data.ItemId', false)">No</a>
                        </span>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>

        $.ajax({
            url: "/Items/Insert",
            type: "GET",
            success: function (response) {
                $("#CreateForm").html(response);
            }
        });

        function UpdateData(id) {
            $.ajax({
                url: "/Items/Update/" + id,
                type: "GET",
                success: function (response) {
                    $("#EditForm").html(response);
                    $("#CreateForm").hide();
                    $("#EditForm").show();
                }
            });
        }


        // function DeleteData(id) {
        //     $.ajax({
        //         url: "/Items/Delete/" + id,
        //         type: "POST",
        //         success: function () {
        //             location.reload();
        //         }
        //     });
        // }

        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }

        function Discard() {
            $("#EditForm").hide();
            $("#CreateForm").show();
        }


    </script>
}